.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1300px;
}

.guestFormCt form,
.loginFormCt form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 300px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease;
}

.guestFormCt form:has(input:not(:placeholder-shown)),
.guestFormCt form:has(input:focus),
.loginFormCt form:has(input:not(:placeholder-shown)),
.loginFormCt form:has(input:focus) {
    box-shadow: 0 0 10px var(--main-color);
}

.logoCt {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: calc(100vh / 3);
}

.logo {
    height: 100%;
    width: 300px;
}

.loginBtn {
    border-radius: 2rem;
    background-color: transparent;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 0.5rem;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.loginBtn:hover {
    background-color: var(--main-color);
    color: var(--main-background);
}

/* Input Group */

.inputGroupCt {
    position: relative;
    display: flex;
}

.inputGroup {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 0;
    border-bottom: 2px solid var(--card-border);
    padding: 1rem 0.5rem 0.2rem;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.inputGroup:focus {
    border-bottom: 2px solid var(--main-color);
}

.inputGroupLabel {
    position: absolute;
    left: 0.5rem;
    top: 1rem;
    font-size: 1rem;
    transition: all 0.3s ease;
    color: var(--card-border);
}

.inputGroupCt:has(.inputGroup:focus) .inputGroupLabel,
.inputGroupCt:has(.inputGroup:not(:placeholder-shown)) .inputGroupLabel {
    top: 0;
    font-size: 0.7rem;
    color: var(--main-color);
}

/* Media Queries */

@media (max-width: 1300px) {
    .loginWrapper {
        max-width: 100vw;
        justify-content: space-evenly;
    }

    .guestFormCt form,
    .loginFormCt form {
        width: 250px;
        gap: 1rem;
    }

    .logo {
        width: 200px;
        height: 200px;
        margin-block: 50px;
    }
}

@media (max-width: 800px) {
    .loginWrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .guestFormCt form,
    .loginFormCt form {
        width: 80%;
        margin-inline: auto;
    }

    .logo {
        order: 0;
        margin: 0;
    }

    .guestFormCt {
        order: 2;
    }

    .loginFormCt {
        order: 1;
    }
}
