.profileCt {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: auto;
}

.profileDataCt {
    display: flex;
    width: 100%;
}

.imageCt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageCt img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.textDataCt {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dataFormCt {
    display: flex;
    width: 100%;
}