.profileCt {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: auto;
}

.profileDataCt {
    display: flex;
    width: 100%;
}

.imageCt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageCt img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.textDataCt {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dataFormCt {
    display: flex;
    width: 100%;
}

.friendCardCt,
.requestCardCt {
    display: flex;
    gap: 2rem;
    padding: 0.5rem;
}

.requestName {
    font-size: 1rem;
}

.requestActionBtns {
    display: flex;
    gap: 1rem;
}

.requestAccept,
.requestDeny {
    cursor: pointer;
    transition: all 0.3s ease;
}

.requestAccept:hover {
    color: var(--correct);
}

.requestDeny:hover {
    color: var(--error);
}

/* BUTTONS */

.deleteProfileBtn {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 2rem;
    padding: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.deleteProfileBtn:hover {
    background-color: var(--error);
    color: var(--white);
    box-shadow: 0 0 10px var(--main-color);
}

.pagesBtn,
.pagesBtnActive {
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    transition: all 0.3s ease;
}

.pagesBtn {
    color: var(--border-color);
}

.pagesBtnActive {
    font-weight: bold;
    color: var(--main-color);
    text-decoration: underline;
}

.pagesBtn:hover {
    text-decoration: underline;
}
