.forumPostCt {
    max-width: 1300px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 1rem;
}

.forumPostTitleCt {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.forumPostTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--main-color);
}

.forumPostInfo {
    font-size: 0.8rem;
    color: var(--card-border);
}

.forumPostBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.forumPostDescription {
    width: 100%;
    font-size: 1.2rem;
}

.forumPostCommentsCt {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.commentCt {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-block: 0.5rem;
    border-bottom: 1px solid var(--card-border);
}

.commentUser {
    width: 100%;
    color: var(--card-border);
}

.commentText {
    width: 100%;
    color: var(--main-color);
}

.forumCommentCt {
    position: fixed;
    bottom: 1rem;
    left: 0;
    width: 100%;
}

.forumComment {
    max-width: 1300px;
    margin-inline: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.sendCommentBtn {
    background-color: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sendCommentBtn:hover {
    background-color: var(--main-color);
    color: var(--main-background);
    box-shadow: 0 0 10px var(--main-color);
}