.pageWrapper {
    max-width: 1300px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.skinWrapper {
    width: 100%;
    display: grid;
    place-content: center;
}

.skin {
    height: 30rem;
    width: auto;
}
