:root {
    --main-background: #fff;
    --main-color: #000;
    --header-background: #252525;
    --header-color: #bbbbbb;
    --header-highlight-color: #fff;
    --main-font: Arial, Helvetica, sans-serif;
    --card-border: #808080;
    --correct: #047700;
    --warning: #dfdb00;
    --error: #880000;
    --notify-bg: #008bad;
    --notify-color: #cccccc;
    --main-hover: #f0f0f0;
    --white: #fff;
    --black: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-background: #000;
        --main-color: #fff;
        --main-hover: #2f2f2f;
    }

    html {
        color-scheme: dark;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--main-color);
    background: var(--main-background);
    font-family: var(--main-font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Language Selector */

.languageCt {
    position: relative;
    padding-block: 10px;
    height: 100%;
    max-height: 100px;
}

.language {
    height: 100%;
    max-height: 100px;
    width: auto;
    cursor: pointer;
}

/* MODALS */

#modal {

}

#modal.active {
    display: grid;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--main-background);
    opacity: 0.5;
    z-index: 10;
    transition: all 0.3s ease;
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-background);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--main-color);
    padding: 2rem;
    width: auto;
    display: flex;
    flex-direction: column;
    z-index: 20;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.4rem;
    padding: 0.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--card-border);
    background-color: var(--main-background);
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.modal-close:hover {
    color: var(--main-color);
}

.modal-body-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

.modal-body {
    display: grid;
    place-content: center;
    width: 100%;
}

.modal-body textarea {
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    padding: 0.3rem;
}

.modal-footer {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
}

.modal-text {
    color: var(--main-color);
    font-size: 1.5rem;
}

.modal-delete-btn,
.modal-cancel-btn,
.modal-publish-btn{
    color: var(--main-color);
    background-color: var(--main-background);
    cursor: pointer;
    border: 1px solid var(--main-color);
    border-radius: 2rem;
    padding: 0.3rem 1rem;
    transition: all 0.3s ease;
    font-size: 1rem;
    font-weight: bold;
}

.modal-delete-btn:hover {
    color: var(--main-color);
    background-color: var(--error);
}

.modal-cancel-btn:hover,
.modal-publish-btn:hover {
    color: var(--main-background);
    background-color: var(--main-color);
}